
@{
    ViewBag.Title = "Candidato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="InicioCuenta" class="container">
    <div class="h-100">
        <div class="d-flex align-items-center h-100">
            <div class="d-flex flex-wrap justify-content-center">
                <a class="styleLinks m-1" href="@Url.Action("Editar","Candidatos")">Mi Cuenta</a>
                <a class="styleLinks m-1" href="@Url.Action("Index","Curriculos")">Mis Currículos</a>
                <a class="styleLinks m-1" href="@Url.Action("Postulaciones","Candidatos")">Mis Postulaciones</a>
                <a class="styleLinks m-1" href="@Url.Action("Lista","Invitaciones")">Invitaciones a Postular</a>
                <a class="styleLinks m-1" href="@Url.Action("Lista","Invitaciones")">Empleos Guardados</a>
                <a class="styleLinks m-1" href="@Url.Action("Lista","Invitaciones")">Notificaciones</a>
                <a class="styleLinks m-1" href="@Url.Action("Lista","Invitaciones")">Preguntas Frecuentes</a>
                <a class="styleLinks m-1" href="@Url.Action("Lista","Invitaciones")">Reportar Empresa</a>
            </div>
        </div>
    </div>

</div>
